# System
alias ALIAS="vim ~/.bash_aliases"
alias UPDATE="sudo apt update && sudo apt upgrade -y"
alias SSH="vim ~/.ssh/config"
alias RELOAD="source ~/.zshrc"

# Management
alias SERVICES="sudo netstat -plunt"
alias GROUPS="compgen -g"
alias USERS="cut -d: -f1 /etc/passwd"

# Directory listing/traversal
LS_COLORS="--color -G"
LS_TIMESTYLEISO="--time-style=long-iso"
LS_GROUPDIRSFIRST="--group-directories-first"

alias l="ls -lahA $LS_COLORS $LS_TIMESTYLEISO $LS_GROUPDIRSFIRST"
alias ll="ls -lA $LS_COLORS"
alias lt="ls -lhAtr $LS_COLORS $LS_TIMESTYLEISO $LS_GROUPDIRSFIRST"
alias ld="ls -ld $LS_COLORS */"
alias lpm="stat -c '%a %n' *"

unset LS_COLORS LS_TIMESTYLEISO LS_GROUPDIRSFIRST

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias -- -="cd -"                  # Go to previous dir with -
alias cd.='cd $(readlink -f .)'    # Go to real dir (i.e. if current dir is linked)

alias tree="tree -A"
alias treed="tree -d"
alias tree1="tree -d -L 1"
alias tree2="tree -d -L 2"

# Network
alias DNS="sudo vim /etc/resolvconf/resolv.conf.d/tail"
alias PING="ping 8.8.8.8"
alias NSLOOKUP="nslookup google.com"
alias NETSTAT="netstat -ntulp"
alias IP="dig +short myip.opendns.com @resolver1.opendns.com"
alias IP-LIST="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias IP-LOCATION="curl ipinfo.io"
alias SPEED="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"

# Docker
alias DOCKER-STATS='docker stats --no-stream --format "table {{.Name}}\t{{.Container}}\t{{.CPUPerc}}\t{{.MemUsage}}" | sort -k 4 -h'
alias DOCKER-CLEAR-LOGS="echo -e 'truncate -s 0 /var/lib/docker/containers/*/*-json.log' | sudo -i"
alias DOCKER-NSLOOKUP="docker run busybox nslookup google.com"

# Displays the currently running containers (Minimal)
alias dps='docker ps --format "table {{.Names}}\t{{.Ports}}"'

# Start the docker-compose stack in the current directory
alias dcu="docker-compose up -d"

# Start the docker-compose stack in the current directory and rebuild the images
alias dcub="docker-compose up -d --build"

# Stop, delete (down) or restart the docker-compose stack in the current directory
alias dcs="docker-compose stop"
alias dcd="docker-compose down"
alias dcr="docker-compose restart"

# Memory Usage
alias MEM-CHROME='smem -tk -P /opt/google/chrome'

# Miscellaneous
alias RF="rm -rf"
alias PATH='echo -e ${PATH//:/\\n}'
alias grip="grip -b"