# Create a new directory and enter it
function mkd() {
   mkdir -p "$@" && cd "$@"
}

archive () {
   zip -r "$1".zip -i "$1" ;
}

# Scrape a single webpage with all assets
function scrapeUrl() {
    wget --adjust-extension --convert-links --page-requisites --span-hosts --no-host-directories "$1"
}